body {
    overflow-x: hidden;
}
#layout{
    max-width: 1000px !important;
    min-width: 10px !important;
}
#layout-content {
    width: 100% !important;
}
#layout-header {
    max-width: 1000px;
    width: 100% !important;
}
#layout-footer {
    width: 100% !important;
    max-width: 1000px;
}
#watermark {
    width: 100% !important;
}
@media(max-width: 780px) {
 .classnamer {
     font-size: 14px ;
     width: 180px;
 }
 
}

@media(max-width: 640px) {
    .widget-columns-column {
        display: block;
        width: 100% !important;
    }
    .classnamer {
        font-size: 15px;
        width: 70% !important;
    }
}

.widget-content img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
