#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada {
	text-align: left;
}.rtl #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada {
	text-align: right;
}#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li > a {
			
			
		}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected:hover,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected:hover,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected > a,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected > a,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected:hover > a,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected:hover > a,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li.selected,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li.childselected,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li.selected:hover,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li.childselected:hover,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li.selected > a,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li.childselected > a,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li.selected:hover > a,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li.childselected:hover > a,
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada > li.normal > a { color: #000000;}
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada > li.normal > a { background-color: transparent; } #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada > li.normal > a { background-image: none; }
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected > a, #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected > a { color: #000000; }
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul > li.normal > a { color: #000000; }#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul > li.normal > a { background-image: none; }
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul > li.normal > a { background-color: #FFFFFF; }
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected > a, #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected > a, #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul > li.childselected > a { background-color: #FFFFFF; }
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.normal:hover > a { color: #000000; }
		#navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.normal:hover > a { background-color: #FFFFFF; } #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected > a, #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected > a, #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.normal:hover > a { background-image: none; }
		.mobile-view #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected > a,
		.mobile-view #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected > a { color: #000000; }.mobile-view #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.selected > a,
		.mobile-view #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li.childselected > a { background-color: transparent; }.mobile-view #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li:hover > a { color: #000000; }.mobile-view #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada li:hover > a { background-color: transparent; }.mobile-view #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul > li > a { color: #000000; }.mobile-view #navigation-2f7b8b31-e499-13fb-4e4c-8a30bbe41ada ul > li > a { background-color: transparent; }