#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 {
	text-align: center;
}#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li > a {
			font-family: 'Comic Sans MS', sans-serif;
			font-size: 15px;
		}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li {
			margin: 2px 1px 1px 1px;
		}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 5px 13px 6px 13px;
			border: solid #000000;
			border-width: 0;
			border-radius: 4px;
			box-shadow: none;
		}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li {
			margin: 2px 1px 1px 1px;
		}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 5px 13px 6px 13px;
			border: solid #000000;
			border-width: 0;
			border-radius: 4px;
			box-shadow: none;
		}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected:hover,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected:hover,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li:hover {
			margin: 2px 1px 1px 1px;
		}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected > a,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected > a,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected:hover > a,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected:hover > a,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li:hover > a {
			padding: 5px 13px 6px 13px;
			border: solid #000000;
			border-width: 0;
			border-radius: 4px;
			box-shadow: none;
		}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li.selected,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li.childselected,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li.selected:hover,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li.childselected:hover,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li:hover {
			margin: 2px 1px 1px 1px;
		}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li.selected > a,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li.childselected > a,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li.selected:hover > a,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li.childselected:hover > a,
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul li:hover > a {
			padding: 5px 13px 6px 13px;
		}

		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 > li.normal > a { color: #FFFFFF;}
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 > li.normal > a { background-color: #27848B; } #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 > li.normal > a { background-image: none; }
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected > a, #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected > a { color: #FFFFFF; }
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul > li.normal > a { color: #FFFFFF; }#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul > li.normal > a { background-image: none; }
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul > li.normal > a { background-color: #188C90; }
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected > a, #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected > a, #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul > li.childselected > a { background-color: #1C667D; }
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.normal:hover > a { color: #FFFFFF; }
		#navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.normal:hover > a { background-color: #1C667D; } #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected > a, #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected > a, #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.normal:hover > a { background-image: none; }
		.mobile-view #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected > a,
		.mobile-view #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected > a { color: #FFFFFF; }.mobile-view #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.selected > a,
		.mobile-view #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li.childselected > a { background-color: transparent; }.mobile-view #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li:hover > a { color: #FFFFFF; }.mobile-view #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 li:hover > a { background-color: transparent; }.mobile-view #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul > li > a { color: #FFFFFF; }.mobile-view #navigation-a3479aab-cddc-72f5-3a8d-872b1593ef59 ul > li > a { background-color: transparent; }