@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.gr-rainbow {
  background: -moz-linear-gradient(left, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
  background: -webkit-linear-gradient(left, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
  background: -o-linear-gradient(left, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
  background: -ms-linear-gradient(left, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
  background: linear-gradient(to right, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

li, ul {
  list-style: none; }

a {
  text-decoration: none; }

button:focus, input:focus {
  outline: transparent; }

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding-bottom: 2px;
  text-align: center;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8); }
  .header::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
    background: radial-gradient(circle at 30% 107%, #f0bd44 2%, #d3564d 45%, #8d589d 60%); }

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.btn-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 12px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  transform: translateZ(0);
  transition: transform 0.1s ease-out; }
  .btn-toggle:active {
    transform: translateY(4px); }
  .btn-toggle:focus .line:after {
    background-color: #fff; }

.line {
  display: block;
  width: 32px;
  padding: 2px; }
  .line:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #c0c0c0;
    border-radius: 2px;
    transform: translateZ(0) rotate(0);
    transition: background-color 0.2s ease-out; }
  .open .line:nth-child(1) {
    animation: jump-1 1s forwards ease; }
    .open .line:nth-child(1):after {
      animation: line-1 1s forwards ease-in-out; }
  .open .line:nth-child(2) {
    animation: jump-2 1s forwards ease; }
    .open .line:nth-child(2):after {
      animation: line-2 1s forwards ease-in-out; }
  .close .line:nth-child(1) {
    animation: jump-1 1s reverse ease; }
    .close .line:nth-child(1):after {
      animation: line-1 1s reverse ease-in-out; }
  .close .line:nth-child(2) {
    animation: jump-2 1s reverse ease; }
    .close .line:nth-child(2):after {
      animation: line-2 1s reverse ease-in-out; }
  .open .line:nth-child(3),
  .close .line:nth-child(3) {
    animation: jump-3 1s forwards ease-out; }

.header-logo img {
  width: 80px;
  height: 60px; }

.header__contacts {
  display: flex; }

.header__contacts-tel {
  margin-right: 15px;
  font-size: 17px;
  color: #fff;
  display: flex;
  align-items: center; }
  .header__contacts-tel a {
    color: #fff; }
  .header__contacts-tel span {
    margin-right: 10px; }

.header__menu li {
  padding: 20px 30px; }

.header__menu a {
  cursor: pointer;
  font-size: 20px;
  position: relative;
  color: #c0c0c0;
  transition: all .2s; }

.header__menu a:before {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  width: 100%;
  bottom: -7px;
  transform: scaleX(0);
  transition: all .4s;
  background-color: #1f84ff; }

.header__menu a:hover {
  color: #1f84ff;
  transition: all .5s; }

.header__menu a:hover::before {
  transform: scaleX(1); }

.active__menu {
  color: #1f84ff !important;
  position: relative; }

.active__menu:after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  width: 100%;
  bottom: -7px;
  background-color: #1f84ff; }

.preview {
  position: relative; }

.preview__intro {
  max-height: 100vh;
  overflow: hidden;
  position: relative; }

.preview__intro::after {
  content: '';
  position: absolute;
  display: block;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.preview-bg video {
  width: 100%;
  height: auto; }

.preview__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  z-index: 3;
  text-align: center;
  color: #fff; }

.preview__logo {
  padding-bottom: 15px; }

.preview__title {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 15px; }

.preview__subtitle {
  font-size: 20px;
  max-width: 1200px;
  margin: 0 auto; }

.preview__call {
  margin-top: 50px; }

.call-btn {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 26px 10px;
  color: #000;
  background-color: #1f84ff; }

.about__inner {
  display: flex;
  background: #14161a; }

.about__info {
  padding: 0 20px;
  color: #fff;
  width: 50%; }

.about__info-title {
  font-size: 55px;
  margin-top: 50px;
  font-weight: 300; }

.about__info-text {
  font-size: 18px;
  margin-top: 40px;
  padding: 0 20px;
  position: relative;
  width: 550px; }

.about__info-text::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #1f84ff; }

.about__img img {
  max-width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center center;
  border-radius: 5px; }

.services__inner {
  display: flex; }

.services__item-img {
  position: relative; }

.services__item-img img {
  max-width: 570px;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.services__img-first img {
  height: 300px; }

.insta {
  position: relative;
  width: 100%;
  background: 50% 0 no-repeat #1a1a1d;
  height: 1000px; }
  .insta::before {
    content: "";
    width: 100%;
    min-height: 1000px;
    position: absolute;
    top: 0px;
    background: url(assets/img/bg_bottom.png);
    background-position: center center;
    background-size: cover; }

.instagram_text_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transform: skewY(-5deg);
  color: #d79922;
  padding-top: 70px; }
  .instagram_text_wrap span {
    padding: 20px;
    background: #222629;
    max-width: 500px; }

.insta__block a {
  color: #fff;
  position: relative;
  left: 80px;
  top: 25px; }
  .insta__block a span {
    left: 100px;
    background: radial-gradient(circle at 30% 107%, #f0bd44 2%, #d3564d 45%, #8d589d 60%);
    top: 25px; }

.instagram-bg {
  margin-top: 100px;
  position: relative; }
  .instagram-bg::before {
    content: '';
    position: absolute;
    border: 4px solid;
    padding: -20px;
    width: 100%;
    height: 90%;
    top: 0;
    left: 70px; }
  .instagram-bg::after {
    content: '';
    position: absolute;
    background: url(assets/img/icons/insta-like.png);
    right: -100px;
    top: -40px;
    height: 120px;
    width: 150px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }

.phone-bg img {
  height: 600px;
  border-radius: 10px;
  transform: skewY(5deg);
  margin-left: 100px; }

.footer {
  min-height: 250px;
  background-color: #14161a; }

.footer__inner {
  display: flex;
  justify-content: space-between; }

.footer__info {
  margin-left: 150px;
  transition: all .2s; }

.info-title {
  padding-top: 15px;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
  color: #fff; }

.info__box {
  font-size: 16px; }

.info__tel {
  display: flex;
  align-items: center;
  position: relative;
  color: #1f84ff;
  transition: all .2s; }

.info__tel span {
  margin-right: 5px;
  font-size: 17px; }

.info__tel:hover {
  color: #fff; }

.info__address {
  color: #fff;
  margin-top: 10px;
  padding-bottom: 10px; }

.info__address span {
  font-size: 17px; }

.info__email {
  display: flex;
  align-items: center;
  margin-top: 5px;
  position: relative;
  color: #1f84ff;
  transition: all .2s; }

.info__email span {
  margin-right: 5px;
  font-size: 17px; }

.info__email:hover {
  color: #fff; }

.map__loc {
  margin-top: 25px;
  margin-right: 150px; }

.instagram-icon {
  height: 20px;
  width: 20px; }

iframe {
  border-radius: 5px; }

.footer__follow {
  margin-top: 15px; }

.follow__box {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

@keyframes line-1 {
  10% {
    transform: translateZ(0) rotate(0); }
  80% {
    transform: translateZ(0) rotate(395deg); }
  90%, 100% {
    transform: translateZ(0) rotate(405deg); } }

@keyframes line-2 {
  10% {
    transform: translateZ(0) rotate(0); }
  20% {
    transform: translateZ(0) rotate(10deg); }
  90%, 100% {
    transform: translateZ(0) rotate(-405deg); } }

@keyframes jump-1 {
  10% {
    transform: translateY(0); }
  50% {
    transform: translateY(-16px); }
  90%, 100% {
    transform: translateY(-4px); } }

@keyframes jump-2 {
  10% {
    transform: translateY(0); }
  50% {
    transform: translateY(-8px); }
  85%, 100% {
    transform: translateY(-12px); } }

@keyframes jump-3 {
  10% {
    transform: translateY(-4px) rotate(15deg); }
  30% {
    transform: translateY(-8px) rotate(-10deg); }
  50% {
    transform: translateY(4px) rotate(5deg); }
  80% {
    transform: translateY(0); } }

@keyframes glow {
  50% {
    box-shadow: rgba(218, 218, 218, 0.4) 0 0 2px 2px; } }

@media (max-width: 1300px) {
  .footer__info {
    margin-left: 25px; }
  .map__loc {
    margin-right: 25px; } }

@media (max-width: 900px) {
  .footer__inner {
    display: block; }
  .map__loc {
    margin-right: 0; }
  iframe {
    width: 100%; }
  .footer__info {
    text-align: center;
    margin-left: 0; }
  .footer__follow {
    display: flex;
    justify-content: center; }
  .info__tel {
    justify-content: center; }
  .info__email {
    justify-content: center; } }

@media (max-width: 680px) {
  .instagram_text_wrap {
    font-size: 26px; }
  .insta__block a {
    left: -20px; }
  .insta {
    height: fit-content; }
  .instagram_text_wrap {
    padding-bottom: 30px; }
  .phone-bg img {
    margin-left: 0px; }
  .instagram-bg::before {
    width: 105%;
    left: -14px; }
  .instagram-bg::after {
    height: 70px;
    width: 90px;
    right: -43px;
    top: -23px; }
  .header__contacts-tel--link {
    display: none; } }

@media (max-width: 400px) {
  .instagram_text_wrap {
    font-size: 20px;
    padding-top: 40px; }
  .instagram-bg::before {
    width: 105%;
    height: 100%;
    top: 0;
    left: -12px; }
  .instagram-bg::after {
    right: 0px;
    top: 10px; }
  .header {
    height: 60px; }
  .header-logo img {
    width: 70px;
    height: 50px; }
  .line {
    width: 30px; }
    .line::after {
      width: 80%;
      height: 2px; } }
