@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.gr-rainbow {
  background: -moz-linear-gradient(left, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
  background: -webkit-linear-gradient(left, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
  background: -o-linear-gradient(left, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
  background: -ms-linear-gradient(left, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
  background: linear-gradient(to right, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

li, ul {
  list-style: none; }

a {
  text-decoration: none; }

button:focus, input:focus {
  outline: transparent; }

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding-bottom: 2px;
  text-align: center;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8); }
  .header::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #171c00 0%, #7fa20a 25%, #142eda 50%, #ba530e 75%, #1f0800 100%);
    background: radial-gradient(circle at 30% 107%, #f0bd44 2%, #d3564d 45%, #8d589d 60%); }

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-logo {
  margin-left: 100px; }

.btn-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 12px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  transform: translateZ(0);
  transition: transform 0.1s ease-out; }
  .btn-toggle:active {
    transform: translateY(4px); }
  .btn-toggle:focus .line:after {
    background-color: #fff; }

.line {
  display: block;
  width: 32px;
  padding: 2px; }
  .line:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #c0c0c0;
    border-radius: 2px;
    transform: translateZ(0) rotate(0);
    transition: background-color 0.2s ease-out; }
  .open .line:nth-child(1) {
    animation: jump-1 1s forwards ease; }
    .open .line:nth-child(1):after {
      animation: line-1 1s forwards ease-in-out; }
  .open .line:nth-child(2) {
    animation: jump-2 1s forwards ease; }
    .open .line:nth-child(2):after {
      animation: line-2 1s forwards ease-in-out; }
  .close .line:nth-child(1) {
    animation: jump-1 1s reverse ease; }
    .close .line:nth-child(1):after {
      animation: line-1 1s reverse ease-in-out; }
  .close .line:nth-child(2) {
    animation: jump-2 1s reverse ease; }
    .close .line:nth-child(2):after {
      animation: line-2 1s reverse ease-in-out; }
  .open .line:nth-child(3),
  .close .line:nth-child(3) {
    animation: jump-3 1s forwards ease-out; }

.header-logo img {
  width: 80px;
  height: 60px; }

.header__contacts {
  display: flex; }

.header__contacts-tel {
  margin-right: 15px;
  font-size: 17px;
  color: #fff;
  display: flex;
  align-items: center; }
  .header__contacts-tel a {
    color: #fff; }
  .header__contacts-tel span {
    margin-right: 10px; }

.header__menu {
  transition: all 0.7s;
  position: absolute;
  top: 70px;
  left: -100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  opacity: 0;
  transform: scale(0); }
  .header__menu::before {
    content: '';
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    position: absolute;
    top: 0px;
    left: -100%;
    height: 100vh; }

.mobile__menu.active .header__menu {
  opacity: 1;
  transform: scale(1);
  left: 0; }
  .mobile__menu.active .header__menu::before {
    left: 0; }

.header__menu li {
  padding: 20px 30px; }

.header__menu a {
  cursor: pointer;
  font-size: 20px;
  position: relative;
  color: #c0c0c0;
  transition: all .2s; }

.header__menu a:before {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  width: 100%;
  bottom: -7px;
  transform: scaleX(0);
  transition: all .4s;
  background-color: #f3d250; }

.header__menu a:hover {
  color: #f3d250;
  transition: all .5s; }

.header__menu a:hover::before {
  transform: scaleX(1); }

.active__menu {
  color: #f3d250 !important;
  position: relative; }

.active__menu:after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  width: 100%;
  bottom: -7px;
  background-color: #f3d250; }

.preview {
  position: relative; }

.preview__intro {
  max-height: 100vh;
  overflow: hidden;
  position: relative; }

.preview__intro::after {
  content: '';
  position: absolute;
  display: block;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.preview-bg video {
  width: 100%;
  height: auto; }

.preview__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  z-index: 3;
  text-align: center;
  color: #fff; }

.preview__logo {
  padding-bottom: 15px; }

.preview__title {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 15px; }

.preview__subtitle {
  font-size: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

.preview__call {
  margin-top: 50px; }

.call-btn {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 26px 10px;
  color: #000;
  background-color: #d79922; }

.about__inner {
  display: flex;
  background: #14161a; }

.about__info {
  padding: 0 20px;
  color: #fff;
  width: 100%; }

.about__info-title {
  font-size: 55px;
  margin-top: 50px;
  font-weight: 300; }

.about__info-text {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 40px;
  padding: 0 20px;
  position: relative;
  width: 550px; }

.about__info-text::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #d79922; }

.about__img {
  width: 100%; }
  .about__img img {
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 5px; }

.main {
  background-color: rgba(62, 69, 81, 0.2);
  padding-top: 20px;
  padding-bottom: 100px; }

.services__wraper-content {
  text-align: center;
  margin-top: 30px; }

.services__title {
  text-align: center;
  margin-bottom: 30px;
  position: relative; }
  .services__title::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 200px;
    background-color: #d79922;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto; }

.services__text {
  margin-bottom: 30px; }

.services__subtext {
  margin-bottom: 30px; }

.services__inner {
  display: flex;
  justify-content: space-between; }

.services__item {
  max-width: 450px;
  width: 100%;
  margin-right: 10px; }
  .services__item::last-child {
    margin-right: 0px; }

.services__item img {
  max-width: 450px;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.item__content {
  max-width: 450px;
  width: 100%;
  height: 100px;
  background-color: #2f2f2f;
  cursor: pointer;
  margin-top: -5px;
  transition: all .5s;
  position: relative; }

.item__content:hover {
  background-color: #d79922;
  transition: all .5s; }

.item__text {
  position: absolute;
  color: #fff;
  left: 15px;
  top: 15px; }

.item__subtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff; }

.car__inner {
  background-color: #1b1b1b;
  padding: 30px 20px; }

.uslugi_title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: auto auto 75px;
  transform: skewY(-7deg);
  position: relative;
  z-index: 2; }

.title_border {
  width: 110%;
  height: 80%;
  position: absolute;
  border: 1px solid #fff;
  top: 40px;
  z-index: 1; }

.title {
  color: #d79922;
  width: 100%;
  height: 100%;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  justify-content: center; }

.car__item {
  height: 100%; }
  .car__item:focus {
    outline: none !important; }
  .car__item img {
    max-width: 860px;
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 5px; }

.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 2;
  font-size: 0;
  width: 40px;
  height: 42px;
  padding: 0px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0px 4px 4px 0px;
  transition: color 0.15s ease 0s,border-color 0.15s ease 0s,background-color 0.15s ease 0s;
  cursor: pointer; }

.slick-next {
  right: 0;
  border: none;
  position: relative; }
  .slick-next:before {
    content: " ";
    width: 5px;
    background: #d79922;
    height: 25px;
    position: absolute;
    top: 0px;
    transform: rotate(-45deg);
    border-radius: 4px;
    right: 15px; }
  .slick-next:after {
    content: " ";
    width: 5px;
    background: #d79922;
    height: 25px;
    position: absolute;
    top: 15px;
    transform: rotate(45deg);
    border-radius: 4px;
    right: 15px; }

.slick-prev {
  left: 0;
  border: none;
  position: relative; }
  .slick-prev:before {
    content: " ";
    width: 5px;
    background: #d79922;
    height: 25px;
    position: absolute;
    top: 0px;
    transform: rotate(45deg);
    border-radius: 4px;
    right: 20px; }
  .slick-prev:after {
    content: " ";
    width: 5px;
    background: #d79922;
    height: 25px;
    position: absolute;
    top: 15px;
    transform: rotate(-45deg);
    border-radius: 4px;
    right: 20px; }

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 20px; }
  .slick-dots li {
    padding: 5px;
    opacity: 0.7; }
    .slick-dots li button {
      width: 20px;
      height: 6px;
      font-size: 0;
      border: none;
      position: relative; }

.slick-active {
  opacity: 1 !important; }
  .slick-active button {
    background-color: #f3d250; }

.insta {
  position: relative;
  width: 100%;
  background: #1a1a1d;
  height: 1000px;
  overflow-x: hidden; }
  .insta::before {
    content: "";
    width: 100%;
    min-height: 1000px;
    position: absolute;
    top: 0px;
    left: 0;
    background: url(assets/img/bg_bottom.png);
    background-position: center center;
    background-size: cover; }

.instagram_text_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transform: skewY(-5deg);
  color: #d79922;
  padding-top: 70px; }
  .instagram_text_wrap span {
    padding: 20px;
    background: #222629;
    max-width: 500px; }

.insta__block a {
  color: #fff;
  position: relative;
  left: 80px;
  top: 25px; }
  .insta__block a span {
    left: 100px;
    background: radial-gradient(circle at 30% 107%, #f0bd44 2%, #d3564d 45%, #8d589d 60%);
    top: 25px; }

.instagram-bg {
  margin-top: 100px;
  position: relative; }
  .instagram-bg::before {
    content: '';
    position: absolute;
    border: 4px solid;
    padding: -20px;
    width: 120%;
    height: 90%;
    top: 0;
    left: -30px; }
  .instagram-bg::after {
    content: '';
    position: absolute;
    background: url(assets/img/icons/insta-like.png);
    right: -100px;
    top: -40px;
    height: 120px;
    width: 150px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }

.phone-bg img {
  height: 600px;
  border-radius: 10px;
  transform: skewY(5deg); }

.footer {
  min-height: 250px;
  background-color: #000; }

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer-logo {
  padding: 0 25px; }
  .footer-logo img {
    width: 220px;
    height: 170px;
    background-size: cover;
    background-position: center center; }

.footer__info {
  transition: all .2s;
  padding-right: 20px; }

.info__box {
  font-size: 16px; }

.info__box-item2 {
  position: relative; }
  .info__box-item2::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1px;
    background-color: #f3d250;
    width: 90%; }

.info__box-item1 {
  position: relative;
  margin-top: 30px; }

.info__tel {
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  transition: all .2s;
  font-size: 18px; }

.info__tel span {
  margin-right: 5px;
  font-size: 17px; }

.info__tel:hover {
  color: #f3d250; }

.info__address {
  color: #fff;
  margin-top: 10px;
  padding-bottom: 5px; }

.info__address span {
  font-size: 17px; }

.info__email {
  display: flex;
  align-items: center;
  margin-top: 5px;
  position: relative;
  color: #fff;
  transition: all .2s; }

.info__email span {
  margin-right: 5px;
  font-size: 17px; }

.info__email:hover {
  color: #f3d250; }

.map__loc {
  margin-top: 25px; }

.instagram-icon {
  height: 20px;
  width: 20px; }

iframe {
  border-radius: 5px; }

.footer__follow {
  margin-top: 20px; }

.follow__box {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .follow__box a:hover path {
    opacity: 0.5; }

.since {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300; }

.works {
  padding-bottom: 30px;
  background-color: rgba(62, 69, 81, 0.3); }

.works__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto; }

.works__item {
  width: 33%;
  height: 100%;
  margin-top: 10px;
  position: relative;
  transition: all .5s; }
  .works__item::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all .5s; }
  .works__item:hover::before {
    transition: all .5s;
    background-color: transparent; }
  .works__item:hover .works__content {
    opacity: 0;
    transition: all .4s; }

.works__item-info {
  position: relative;
  padding: 10px; }
  .works__item-info::before {
    background-color: transparent; }
  .works__item-info::after {
    border: 14px solid transparent;
    border-right: 14px solid #f3d250;
    border-bottom: 14px solid #f3d250;
    display: block;
    content: "";
    position: absolute;
    left: 5px;
    top: 0; }

.works__item-title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px; }

.works__item-text {
  margin-top: 20px;
  font-size: 16px; }

.works__img {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.works__content {
  position: absolute;
  width: 100%;
  padding: 10px;
  color: #fff;
  z-index: 3;
  top: 40%;
  left: 0; }

.works__content-title {
  font-size: 17px;
  text-align: center;
  padding-bottom: 10px; }
  .works__content-title span {
    color: red; }

.works__content-text {
  text-align: center;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 500; }
  .works__content-text span {
    color: red; }

@keyframes line-1 {
  10% {
    transform: translateZ(0) rotate(0); }
  80% {
    transform: translateZ(0) rotate(395deg); }
  90%, 100% {
    transform: translateZ(0) rotate(405deg); } }

@keyframes line-2 {
  10% {
    transform: translateZ(0) rotate(0); }
  20% {
    transform: translateZ(0) rotate(10deg); }
  90%, 100% {
    transform: translateZ(0) rotate(-405deg); } }

@keyframes jump-1 {
  10% {
    transform: translateY(0); }
  50% {
    transform: translateY(-16px); }
  90%, 100% {
    transform: translateY(-4px); } }

@keyframes jump-2 {
  10% {
    transform: translateY(0); }
  50% {
    transform: translateY(-8px); }
  85%, 100% {
    transform: translateY(-12px); } }

@keyframes jump-3 {
  10% {
    transform: translateY(-4px) rotate(15deg); }
  30% {
    transform: translateY(-8px) rotate(-10deg); }
  50% {
    transform: translateY(4px) rotate(5deg); }
  80% {
    transform: translateY(0); } }

@keyframes glow {
  50% {
    box-shadow: rgba(218, 218, 218, 0.4) 0 0 2px 2px; } }

.new {
  margin-top: 20px;
  padding-bottom: 30px; }
  .new h3 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: 500; }
  .new .new__inner {
    display: flex;
    justify-content: center; }
  .new img {
    max-width: 500px;
    width: 100%;
    background-size: cover;
    height: 100%; }

.newCar__text {
  max-width: 500px;
  width: 100%;
  margin-left: 20px;
  font-size: 18px;
  line-height: 150%; }

.protection {
  padding: 20px 15px;
  background: #14161a; }
  .protection h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: 500; }

.protection__info {
  margin-top: 20px;
  border-bottom: 2px solid #f3d250;
  display: flex;
  flex-direction: column;
  transition: all .5s; }
  .protection__info a {
    padding-bottom: 10px;
    color: #fff;
    font-size: 18px; }
    .protection__info a:hover {
      color: #f3d250; }

.protection__img {
  display: flex;
  margin-top: 20px;
  transition: all .5s; }

.protection__img-item {
  margin-right: 5px;
  transition: all .5s;
  display: inline-block;
  /* Строчно-блочный элемент */
  overflow: hidden; }
  .protection__img-item:last-child {
    margin-right: 0; }
  .protection__img-item img {
    transition: 1s;
    /* Время эффекта */
    display: block;
    /* Убираем небольшой отступ снизу */
    transition: all .5s;
    border-radius: 4px;
    width: 100%;
    height: 100%; }
    .protection__img-item img:hover {
      transform: scale(1.2); }

.protection__table {
  display: flex;
  color: #fff;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff; }
  .protection__table:last-child {
    border-bottom: none; }

.protection__left {
  max-width: 400px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 300; }

.protection__right {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.protection__right-item {
  max-width: 220px;
  text-align: center;
  width: 100%; }
  .protection__right-item img {
    width: 60px;
    height: 40px; }

.red {
  color: red; }

@media (max-width: 1300px) {
  .footer__info {
    margin-left: 25px; }
  .map__loc {
    margin-right: 25px; } }

@media (max-width: 1150px) {
  .about__info-title {
    font-size: 40px; }
  .about__info-text {
    font-size: 16px; }
  .footer__inner {
    flex-direction: column; }
  .preview__logo img {
    width: 200px; }
  .map-inner {
    width: 100%; }
    .map-inner iframe {
      width: 100%; }
  .map__loc {
    margin-right: 0; } }

@media (max-width: 960px) {
  .about__inner {
    flex-direction: column; }
  .about__info {
    text-align: center; }
  .about__info-text {
    width: 100%; }
  .about__img {
    margin-top: 30px;
    text-align: center; }
    .about__img img {
      max-width: 600px;
      padding: 0 20px; } }

@media (max-width: 900px) {
  .new h3 {
    font-size: 30px; }
  .new__inner {
    flex-direction: column; }
    .new__inner img {
      margin: 0 auto; }
  .newCar__text {
    text-align: center;
    max-width: 100%;
    margin-left: 0;
    margin-top: 10px;
    font-size: 16px; }
  .works__item-title {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px; }
  .works__content {
    top: 15%; }
  .preview__logo {
    display: none; }
  .preview__content {
    top: 40%; }
  .preview__title {
    font-size: 22px; }
  .preview__subtitle {
    font-size: 18px; }
  .car__item img {
    height: auto; }
  .footer__info {
    text-align: center;
    margin-left: 0; }
  .footer__follow {
    display: flex;
    justify-content: center; }
  .info__tel {
    justify-content: center; }
  .info__email {
    justify-content: center; } }

@media (max-width: 680px) {
  .works__content {
    top: 40%;
    max-width: 350px;
    margin: 0 auto;
    left: 0;
    right: 0; }
  .services__inner {
    flex-direction: column; }
  .services__item {
    margin: 0 auto 10px; }
  .works__inner {
    flex-direction: column; }
  .works__item {
    width: 100%; }
  .works__img {
    height: 100%; }
  .works__item-info {
    order: -1; }
  .slick-dots li button {
    width: 10px;
    height: 3px; }
  .instagram_text_wrap {
    font-size: 26px; }
  .header-logo {
    margin-left: 0; }
  .insta__block a {
    left: -20px; }
  .instagram_text_wrap {
    padding-bottom: 30px; }
  .phone-bg img {
    margin-left: 0px; }
  .instagram-bg::before {
    width: 105%;
    left: -14px; }
  .instagram-bg::after {
    height: 70px;
    width: 90px;
    right: -43px;
    top: -23px; }
  .header__contacts-tel--link {
    display: none; } }

@media (max-width: 600px) {
  .protection h3 {
    font-size: 30px; }
  .protection__left {
    font-size: 14px; }
  .protection__right-item img {
    width: 40px;
    height: 30px; }
  .about__img img {
    max-width: 100%; }
  .preview__call {
    display: none; }
  .preview__title {
    font-size: 18px; }
  .preview__subtitle {
    font-size: 15px; }
  .uslugi_title {
    font-size: 24px;
    max-width: 350px;
    width: 100%; } }

@media (max-width: 400px) {
  .protection h3 {
    font-size: 26px; }
  .protection__info a {
    font-size: 15px; }
  .protection__left {
    font-size: 11px; }
  .protection__right-item {
    font-size: 14px; }
    .protection__right-item img {
      width: 30px;
      height: 20px; }
  .about__info-title {
    font-size: 30px; }
  .about__info-text {
    font-size: 14px;
    padding: 0 5px; }
  .title {
    width: 90% !important; }
  .preview__subtitle {
    font-size: 14px; }
  .info__address {
    font-size: 14px; }
  .footer-logo img {
    width: 170px;
    height: 130px; }
  .instagram_text_wrap {
    font-size: 20px;
    padding-top: 40px; }
  .instagram-bg::before {
    width: 105%;
    height: 100%;
    top: 0;
    left: -12px; }
  .instagram-bg::after {
    right: 0px;
    top: 10px; }
  .header {
    height: 60px; }
  .header-logo img {
    width: 70px;
    height: 50px; }
  .line {
    width: 30px; }
    .line::after {
      width: 80%;
      height: 2px; } }

@media (max-width: 340px) {
  .instagram-bg::before {
    display: none; } }
