html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}
html,
body{
    height: 100%; 
    @include f500;
    font-size: 15px;
    line-height: 24px;
    color: $color-text;
    position: relative;
}
 
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.page-content{
    background-color: #f4f6f5;
}
.breadcrumbs{
    &__inner{
        padding: 45px 0 40px;
        overflow: hidden;
        width: 1020px;
    }
    &__list{
        li{
            display: inline-block;
            position: relative;
            & + li{
                padding-left: 24px;
                &::before{
                    content: "-";
                    color: $green;
                    position: absolute;
                    left: 8px;
                }
            }
            &:last-child{
                a,
                span{
                    color: $bg;
                }
            }
        }
        a{
            color: #b0bec5;
        }
    }
}
a {
    display: inline-block;
    text-decoration: none;
    color: $color-text;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title {
    @include f700;
    text-align: center;
    color: $bg;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.angel-right{
    position: relative;
    padding-left: 15px;
    &::before{
        content: "\f105";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        color: $green;
        font-size: 14px;
    }
}
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 720px) {
    .container-fluid {
        padding: 0 15px;
    }
}
#modal{
    display: none ;
    @media(max-width: 520px){
        .create-acc{
            width: 100%;
        }
        .login__wrapper button{
            width: 100%;
            margin-right: 0;
        }
    }
    @media(max-width: 390px){
        .fancybox-content{
            padding: 44px 10px;
        }
    }
}